table{
    margin: 0px;
  }

 
  .input{
    width:64px;
    text-align: center;
  }
  .inputRigidez{
    width:45px;
    text-align: center;
    font-size: 8pt;
  }

  ul{
    list-style: none;
    background-color: #dbd7d7;
    margin: 0px;
    padding: 5px;
  }
  li{
    display: block;
    margin: 5px;
  }